.blog > p {
    @apply text-gray40 leading-relaxed text-xl font-light;
}

.blog > h1, h2, h3, h4, h5, h6 {
    @apply text-gray30 font-mono;
}

.blog > h1 {
    @apply text-4xl mt-8;
}

.blog > h2 {
    @apply text-3xl;
}

.blog > h3 {
    @apply text-2xl mt-6 mb-3;
}

.blog > h4 {
    @apply text-xl mt-4 mb-2;
}

.blog > pre code.hljs {
    @apply bg-gray100 my-4 font-mono;
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.blog > code.hljs {
    @apply font-mono;
    padding: 3px 5px
}

.hljs {
    color: #c9d1d9;
    background: #0d1117;
    font-family: 'IBM Plex Mono', monospace;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
}

.hljs-built_in,
.hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
}

.hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
}

.hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
}

.hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
}

.hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
}

.hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
}

.hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
}

.hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
    /* purposely ignored */
}

.blog > hr {
    @apply text-gray90 my-4;
}

.blog > ul {
    @apply text-gray40 leading-relaxed text-xl font-light list-disc list-inside;
}

.blog > ol {
    @apply text-gray40 leading-relaxed text-xl font-light list-decimal list-inside;
}

strong {
    @apply font-medium;
}
